.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabs {
  flex: 1;
}

.tabContent {
  overflow: auto;
  max-height: calc(100vh - 21.6rem);
}

.footer {
  height: 7.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
