{
  "presets": ["react", "es2015-loose"],
  "plugins": [
    "async-to-promises",
    "lodash",
    ["typecheck", {
      "disable": {
        "production": true
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
